<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('../common/header') %>

    <h1><%= user.name %></h1>
    <h2><%=user.age%></h2>
    <h2><%=user.mail%></h2>

    <ul>
      <% user.friend.forEach(item => { %>
      <li><%= item %></li>
      <% })%>
    </ul>
  </body>
</html>
